body {
    text-align: center;
    background-color: #1d1f20;
}

.wrapper2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    font-size: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #eee;
    opacity: 0.3;
}

.letter {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #eee;
}
.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: #1d1f20;
}

.letter:nth-child(1):before {
    content: "1097546238";
    margin-top: 0px;
    -webkit-animation-name: letter1;
    animation-name: letter1;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.63s;
    animation-delay: 0.63s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter1 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(2):before {
    content: "6589723041";
    margin-top: 0px;
    -webkit-animation-name: letter2;
    animation-name: letter2;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.31s;
    animation-delay: 0.31s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter2 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(3):before {
    content: "0518367249";
    margin-top: -216px;
    -webkit-animation-name: letter3;
    animation-name: letter3;
    -webkit-animation-duration: 1.62s;
    animation-duration: 1.62s;
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter3 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(4):before {
    content: "2816053947";
    margin-top: 0px;
    -webkit-animation-name: letter4;
    animation-name: letter4;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.96s;
    animation-delay: 0.96s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter4 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(5):before {
    content: "3982547061";
    margin-top: -48px;
    -webkit-animation-name: letter5;
    animation-name: letter5;
    -webkit-animation-duration: 2.4533333333s;
    animation-duration: 2.4533333333s;
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter5 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(6):before {
    content: "5830721946";
    margin-top: -72px;
    -webkit-animation-name: letter6;
    animation-name: letter6;
    -webkit-animation-duration: 0.24s;
    animation-duration: 0.24s;
    -webkit-animation-delay: 0.92s;
    animation-delay: 0.92s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter6 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(7):before {
    content: "8234196507";
    margin-top: 0px;
    -webkit-animation-name: letter7;
    animation-name: letter7;
    -webkit-animation-duration: 2s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.38s;
    animation-delay: 0.38s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter7 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(8):before {
    content: "5871439602";
    margin-top: -96px;
    -webkit-animation-name: letter8;
    animation-name: letter8;
    -webkit-animation-duration: 2.432s;
    animation-duration: 2.432s;
    -webkit-animation-delay: 0.24s;
    animation-delay: 0.24s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter8 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(9):before {
    content: "9076851243";
    margin-top: -216px;
    -webkit-animation-name: letter9;
    animation-name: letter9;
    -webkit-animation-duration: 1.908s;
    animation-duration: 1.908s;
    -webkit-animation-delay: 0.47s;
    animation-delay: 0.47s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter9 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(10):before {
    content: "9428713605";
    margin-top: -168px;
    -webkit-animation-name: letter10;
    animation-name: letter10;
    -webkit-animation-duration: 2.45s;
    animation-duration: 2.45s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter10 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(11):before {
    content: "5172063849";
    margin-top: -48px;
    -webkit-animation-name: letter11;
    animation-name: letter11;
    -webkit-animation-duration: 1.0933333333s;
    animation-duration: 1.0933333333s;
    -webkit-animation-delay: 0.59s;
    animation-delay: 0.59s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter11 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(12):before {
    content: "2709638415";
    margin-top: -120px;
    -webkit-animation-name: letter12;
    animation-name: letter12;
    -webkit-animation-duration: 1.1666666667s;
    animation-duration: 1.1666666667s;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter12 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(13):before {
    content: "8043719526";
    margin-top: -24px;
    -webkit-animation-name: letter13;
    animation-name: letter13;
    -webkit-animation-duration: 0.28s;
    animation-duration: 0.28s;
    -webkit-animation-delay: 0.86s;
    animation-delay: 0.86s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter13 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(14):before {
    content: "5123094678";
    margin-top: -72px;
    -webkit-animation-name: letter14;
    animation-name: letter14;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter14 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(15):before {
    content: "3520986174";
    margin-top: -144px;
    -webkit-animation-name: letter15;
    animation-name: letter15;
    -webkit-animation-duration: 2.2971428571s;
    animation-duration: 2.2971428571s;
    -webkit-animation-delay: 0.33s;
    animation-delay: 0.33s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter15 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(16):before {
    content: "5748692130";
    margin-top: -72px;
    -webkit-animation-name: letter16;
    animation-name: letter16;
    -webkit-animation-duration: 1.89s;
    animation-duration: 1.89s;
    -webkit-animation-delay: 0.37s;
    animation-delay: 0.37s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter16 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}



.letter:nth-child(17):before {
    content: "5748692130";
    margin-top: -72px;
    -webkit-animation-name: letter17;
    animation-name: letter17;
    -webkit-animation-duration: 3.89s;
    animation-duration: 1.89s;
    -webkit-animation-delay: 0.37s;
    animation-delay: 0.37s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter17 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter17 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}




.letter:nth-child(18):before {
    content: "5748692130";
    margin-top: -72px;
    -webkit-animation-name: letter18;
    animation-name: letter18;
    -webkit-animation-duration: 0.89s;
    animation-duration: 1.89s;
    -webkit-animation-delay: 0.37s;
    animation-delay: 0.37s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter18 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter18 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}


.letter:nth-child(19):before {
    content: "5748692130";
    margin-top: -72px;
    -webkit-animation-name: letter19;
    animation-name: letter19;
    -webkit-animation-duration: 3.89s;
    animation-duration: 1.89s;
    -webkit-animation-delay: 0.37s;
    animation-delay: 0.37s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter19 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}

@keyframes letter19 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}